body{
  font-family: 'Montserrat', sans-serif;
  text-align: center;
}
.container-fluid{
  padding: 3% 15% 7%;
}
.colored-section{
  background-color: #11999e;
  color: #fff;
}
.white-section{
  background-color: #fff;
  color: #8f8f8f;
  padding: 5% 0;
}
.big-heading{
  font-size: 4rem;
  color: #fff;
  line-height: 1.5;
  font-weight: 600;
  padding-bottom: 2rem;
}
.semi-heading{
  font-family: "Ubuntu";
  font-size: 2.5rem;
  line-height: 1.5;
}



/* Navigation */
.navbar{
  padding: 3% 15% 2%;
  position: fixed; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  left: 0;
  background-color: #11999e;
  width: 100%;
  z-index: 999;
}
.navbar-brand{
  font-family: "Ubuntu";
  font-size: 2.5rem;
  font-weight: bold;
}
.nav-item{
  padding: 0 1rem;
}
.nav-link{
  font-size: 1.2rem;
}
.nav-clicked{
  border: 2px solid;
}

/* Download */
#download .container-fluid{
  padding-top: 4%;
}
.btn-window:hover{
  background-color: #11999e;
  border-radius: 0.3rem;
  border: 1px solid #40514e;
  color: #40514e;
}
.download_img{
  width: 50%;
}
.excel_img{
  margin-right: 20%;
  margin-bottom: 4%;
}



/* Contact */
#contact.white-section{
  padding: 1% 0;
}
#contact .container-fluid{
  padding: 0 15%;
}
.social-icon{
  padding: 3%;
  color: #11999e;
}
.instagram, .mail{
  cursor:pointer;
}
#contact p{
  font-size: .8rem;
}
